{% extends "layouts/base-site.html" %} {% load calculations %} {% load humanize %} {% load static %}

{% block title %} ViteX - trades history {% endblock %}

{% block content %}

<style>

    input[type='number'] { font-size: 16px;}
    input[type='date'] { font-size: 16px;}

     .price_sell {
        color: #CB5016;
    }

    .price_buy {
        color: #0AA915;
    }

    .rounding {
        border-radius: 10px;
    }

    .top-cards {
        min-height: 110px;
    }
</style>

<div class="container">
    <div class="row row d-flex justify-content-center align-items-center mt-2">
        <div class="col-lg-9">
            <div class="row px-4 mt-0 mb-3">
                {% include 'includes/header.html' %}
            </div>

            <span class="h1 text-white">Vitex trade database</span>

            <form method="GET" action="." class="text-white" style="font-size: 1.6rem">
                <div class="form-row mt-4">
                    <div class="form-group col-xs-8 col-lg-6">
                    <label for="value_min"><i class="fa fa-dollar price_buy"></i> Min transaction value </label>
                    <input type="number" min=0 step="0.1" class="form-control" id="value_min" value="{{init.value_min}}" name="value_min">
                    </div>
                    <div class="form-group col-xs-4 col-lg-6">
                        <label for="value_max">Value max</label>
                        <input type="number" min=0 step="0.1" class="form-control" id="value_max" value="{{init.value_max}}" name="value_max">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-xs-8 col-lg-6">
                        <label for="amount_min"><img class="img mb-1 px-1" src="{% static 'imgs/btn1.png' %}" alt="" height="20">Min amount of Epic-Cash </label>
                        <input type="number" min=0 step="0.1" class="form-control" id="amount_min" value="{{init.amount_min}}" name="amount_min">
                    </div>
                    <div class="form-group col-xs-4 col-lg-6">
                        <label for="amount_max">Amount max</label>
                        <input type="number" min=0 step="0.1" class="form-control" id="amount_max" value="{{init.amount_max}}" name="amount_max">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-xs-8 col-lg-6">
                        <label for="date_min"> <i class="fa fa-clock-o"></i> Date from</label>
                        <input type="date" class="form-control" id="date_min" value="{{init.date_min}}" name="date_min">
                    </div>
                    <div class="form-group col-xs-4 col-lg-6">
                        <label for="date_max">Date to </label>
                        <input type="date" class="form-control" id="date_max" value="{{init.date_max}}" name="date_max">
                    </div>
                </div>
                <button type="submit" class="btn-block btn-lg mt-4 btn-primary rounding">Search</button>
            </form>
            <hr/>

        </div>
    </div>

    <div class="row row d-flex justify-content-center align-items-center mt-5">
        <div class="col-lg-9 text-right">
            <span class="h3 mx-3 ml-5 text-white-50">{{qs|length}} last trades</span>
            <a href="{% url 'csv' %}"> <button class=" mb-3 ml-1 mr-4 btn btn-primary">
                Export all <span class="badge badge-light">{{qs_len}}</span> to CSV
            </button></a>

            {% if labels %}
            <span class="h4"> Filters: </span>
                {% for label in labels %}
                    {{ label|safe }}
                {% endfor %}
            {% endif %}

            <table class="table mt-4 text-left">
                <thead>
                <tr style="font-size: 1.6rem;" class="">
                    <th class=""><i class="fa fa-clock-o"></i> Date</th>
                    <th class=""><img class="img mb-1 px-1" src="{% static 'imgs/btn1.png' %}" alt="" height="20"> Amount</th>
                    <th class=""><i class="fa fa-bitcoin color-orange"></i> Price</th>
                    <th class=""><i class="fa fa-dollar price_buy"></i> Value</th>
                    <th class=""> Side</th>
                </tr>
                </thead>
                <tbody>
                    {%for q in qs %}
                    <tr style="font-size: 1.6rem;" class="">
                        <td class=" text-white">{{q.date|date:'d-m-Y H:i'}}</td>
                        <td class="font-weight-bold price_{{q.side}}">{{q.amount|floatformat:1}}</td>
                        <td class=" text-white">{{q.price|floatformat:8}} </td>
                        <td class="font-weight-bold text-white">{{q.value|floatformat:1}}</td>
                        <td class=" price_{{q.side}}">{{q.side}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}