{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'imgs/favico/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'imgs/favico/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'imgs/favico/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'imgs/favico/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'imgs/favico/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'imgs/favico/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'imgs/favico/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'imgs/favico/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'imgs/favico/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'imgs/favico/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'imgs/favico/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'imgs/favico/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'imgs/favico/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'imgs/favico/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'imgs/favico/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'imgs/favico/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'imgs/favico/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'imgs/favico/mstile-310x310.png' %}" />

    <title>
        EPIC RADAR - {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/assets/css/application.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/assets/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %} {% endblock stylesheets %}
</head>

<style>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .main_bg {
        background: rgb(31,31,32, 0.45);
    }
</style>

<body>
    <div class="content container main_bg" style="padding-top: 215px">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            {% include 'includes/footer.html' %}
        </div>
    </div>
</body>


    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
