{% load calculations %} {% load humanize %} {% load static %}

<style>

    .foot-bg {
        background: rgb(31,31,32);
        background: linear-gradient(180deg, rgba(31,31,32,1) 0%, rgba(46,46,48,1) 100%);
    }

    .foot-logo {
        height: 60px;
    }


    .main_bg {
        background: rgb(31,31,32, 0.5);
    }

</style>

<!--<div class="row d-flex align-items-center foot-bg">-->

<!-- Footer -->
<!-- Footer -->
<footer class="font-small foot-bg">
    <div class="container-fluid text-center text-md-center">
        <div class="row">
<!--            <div class="col-md-3 mt-md-0 mb-3 mt-2  hidden-xs hidden-sm">-->
<!--                <img class="img foot-logo" src="{% static 'imgs/radar_logo_100px.png' %}">-->

<!--                &lt;!&ndash; Content &ndash;&gt;-->
<!--                &lt;!&ndash;        <h5 class="text-uppercase">Footer Content</h5>&ndash;&gt;-->
<!--                &lt;!&ndash;        <p>Here you can use rows and columns to organize your footer content.</p>&ndash;&gt;-->

<!--            </div>-->
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-sm-12 mb-3">
                <div class="footer-copyright mr-5 h4">
                    <p>
                        2019 - 2021 <a href="https://epic-ticker.tech/"><span class="font-weight-bold text-warning">EPIC</span><span class="font-weight-bold text-white">RADAR</span></a>
                        | <a href="https://t.me/epicticker"><i class="fa fa-telegram h3 text-info ml-1 mr-1"></i> <span class="font-weight-bold text-white">t.me/epicradar</span></a>
                        <br>
                    <small class="text-muted">DONATIONS</small>
                    </p>
                    <p>
                        <span class="font-weight-bold text-warning">Epic</span>
                        <span class="font-weight-bold text-white">Cash:</span> <a href="">https://fastepic.eu/keybaseid_blacktyg3r</a> |
                        <a href="https://epicfundme.com/109"><span class="text-white">EpicFund</span><span class="text-warning">Me</span><span class="text-white">.com</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->









<!--    <div class="col-lg-2">-->
<!--        <img class="img foot-logo" src="{% static 'imgs/radar_logo_100px.png' %}">-->
<!--    </div>-->
<!--    <div class="col-lg-auto hidden-sm hidden-xs">-->
<!--        <footer class="footer py-4 text-white-50">-->
<!--            <p>-->
<!--                <span class="label mx-2 px-3 py-3">-->
<!--                  <span class="" style="font-size: 1.5rem; font-weight: bold;">-->
<!--                      <a href="#">Epic-Ticker.tech </a> @ 2020 by-->
<!--                      <span class="text-dark mr-4">`blacktyg3r </span>-->
<!--                      Contact:-->
<!--                      <a href="https://t.me/epicticker" target="_blank">Telegram</a>-->
<!--                      &-->
<!--                      <a href="https://twitter.com/blacktyg3r" target="_blank">Twitter</a>-->
<!--                &lt;!&ndash;              <a href="" target="_blank"></a>&ndash;&gt;-->
<!--                      Donations: <a href="#">http:\\epic-ticker.tech:3415</a>-->
<!--                </span>-->
<!--                </span>-->
<!--            </p>-->
<!--        </footer>-->
<!--    </div>-->
</div>






